#body .jumbotron {
  background-image: url(fond.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.texte {
  padding: 25px;
  text-align: justify;
}

#image img{
  width: 40%;
  margin-left: 20%;
  text-align: center;
  clear: both;
}

#paypal .jumbotron{
  background-image: url(fini.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}

#paypal .jumbotron h1{
  color: red;
}
